.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}

/* Banner */
.banner {
    background: url('assets/images/banner.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-text {
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Botones */
  .btn-dark {
    background-color: #333;
    color: white;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #555;
  }